.container{
    background-color: black;
    color: white;
    min-height: calc(100vh - 50px);
}
.content-container{
    margin-left: 50px;
}
.featured-content{
    height: 50vh;
    padding: 50px;
    background-image: url(assets/one.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
}
.featured-heading{
    font-weight: 500;
    align-items: center;
}
.featured-description{
    width: 500px;
    color: grey;
    margin: 30px ,0;
    padding-left: 70px;
}
.featured-button{
    background-color: gold;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.featured-button :hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(-1s);
}
.movie-list-container{
    padding: 20px;
}
.movie-list{
    display: flex;
    height: 270px;
    align-items: center;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
    
}
.movie-list-item-img{
    width: 170px;
    height: 100px;
    transition: all 1s;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    opacity: 0.6;
}
.movie-list-item-title{
    background-color: black;
    padding: 0px 10px;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    top: 10%;
    left: 50px;
}
.movie-list-item-desc{
    background-color: black;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    width: 50px;
    opacity: 0;

}
.movie-list-item-button{
    padding: 10px;
    background-color: gold;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    bottom: 20px;
    left: 50px;
    cursor: pointer;
} 
.movie-list-item:hover .movie-list-item-title{
    opacity: 1;
}
.movie-list-item:hover .movie-list-item-desc{
    opacity: 1;
}
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}
.containertwo{
    background-color: black;
    color: white;
    min-height: calc(1000vh - 50px);
}
.featured-content2{
    height: 50vh;
    padding: 50px;
    background-image: url(assets/eleven.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
}
